[Unit]
Description=Prometheus Service
After=network.target

[Service]
Type=simple
ExecStart=/home/uhstray/node_exporter/node_exporter-1.8.2.linux-amd64/node_exporter

[Install]
WantedBy=multi-user.target